# Ignore phplint files
/phplint.cache

# Ignore PHPUnit files
/.phpunit.cache/
/.phpunit.result.cache
/phpunit.xml

# Ignore PHPStan files.
/phpstan.neon

# Ignore Composer files
/composer.lock
/composer.phar
/vendor/
